<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>{% include 'css/contact.css' %}</style>
<!------ Include the above in your HEAD tag ---------->

<div class="thankyou-page">
	<div class="_header">
		<div class="logo"></div>
		<h1>Merci!</h1>
	</div>
	<div class="_body">
		<div class="_box">
			<h2>
				<strong>Merci de consulter vos emails</strong>
			</h2>
			<p>
				Merci beaucoup d'avoir rempli ça. Cela signifie beaucoup pour nous, tout comme vous ! Nous apprécions vraiment que vous nous accordiez un moment de votre temps aujourd'hui. Merci d'être toi.
			</p>
		</div>
	</div>
	
</div>
